@charset "UTF-8";

/**** BACKGROUND COLORS ****/
/* dark maroon */
body {	
	background: #87CEFA; 
	}
	
/*light grey*/
.inset-shadow {	
	background: #c5f3ff; 
	}
	
/* olive green */
header#masthead {	
	background-color: #ac59aa;     
	}

/* light olive */
div#sidebar, footer {
	background: #f3c1e4; 
	}

/**** FOREGROUND COLORS ****/
/* olive green */
body {	
	color: #071a30;     
	}
		
/* dark blue-gray*/	
h2, h3 {
	color: #075783;      
	}
	
/* dark blue */	
div#sidebar h3, a:link {
	color: #499785; 
	}
	
/* light maroon */		
li#ts, a:hover, a:visited {
	color: #c5f3ff; 
	}