body {
    height: 670px;
    width: 840px;

    margin: 0 auto; /*trick for centering*/
    margin-top: 10px;
    }

/* Page container */
div.inset-shadow {
    height: 670px;
    width: auto;

    padding: 5px 10px 5px 10px;
    }

/* Navigation */
header#masthead{
    height: 40px;
    width: 800px;

    margin: 15px 10px;
    gap: 70px;
    justify-content: center;
    text-align: center;
    }
ul#toc a{
    margin-top: 10px;
    margin-left: 60px;
    gap: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    }
/* Main Article */
div#content{
    height: auto;
    width: 565px;

    padding: 0px 10px;
    }

/* Sidebar */
div#sidebar{
    height: auto;
    width: 175px;

    padding: 0 15px;
    }

/* Footer */
footer{
    height: 40px;
    width: 800px;
    }
ul#ft li {
    margin-top: 10px;
    margin-left: 30px;
    }

img {
    border: 4px solid #f3c1e4;
    }
figure img{
    border-color: #75cccf;
    }
abbr[title] {
    border-bottom: thin rgb(5, 39, 65) dotted;
    }
p {
    padding-top: 10px;
    }
article p img {
    margin-right: 10px;
    }
figure#eff{
    margin-top: 10px;
    }

figure img{
    margin-top: 5px;
    border-color: #5d5d53;
    }
/* Elements */
section.method h2 {
    margin-top: 10px;
    }